/* RESET */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  border: none;
  outline: none;
}

::placeholder {
  color: #00253f;
  font-size: 14px;
}

img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color:#fff;
}
h2 {
  font-size: 1em;
}

/* SOCIAL ICONS */
.social-icons {
  float: right;
}

.fa-whatsapp {
  color: #fff;
  margin-right: 5px;
}

fa-exchange-alt {
  margin: auto;
}

fa-phone {
  margin: auto;
}

/* PRINCIPAL */
.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  width: 100%;
  height: auto;
}

.wrapper {
  width: 80%;
  display: flex;
}

/* PRIMEIRA SEÇÃO */
.primeira-secao {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  background-image: url(bg-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* ATENDIMENTO */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes transition {
  0% {
    left: 100px;
    top: -50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes transition {
  0% {
    left: 100px;
    top: -50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes transition {
  0% {
    left: 100px;
    top: -50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes transition {
  0% {
    left: 100px;
    top: -50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 500ms ease-in-out;
  -moz-animation: fadeIn 500ms ease-in-out;
  -o-animation: fadeIn 500ms ease-in-out;
  animation: fadeIn 500ms ease-in-out;
}

.atendimento {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.atendimento img {
  max-width: 200px;
  margin-bottom: 50px;
}

.msg-atend h1 {
  background-image: linear-gradient(90deg, #d7bf6f, #9e7a47, #d7b76f);
  padding: 5px;
  width: 320px;
  font-size: 14px;
  font-family: "Montserrat";
  color: #fff;
}

.msg-atend h2 {
  width: 320px;
  font-size: 34px;
  font-family: "Playfair Display";
  color: #fff;
  margin-bottom: 50px;
}

.telefone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 213px;
}

.border-wrapper {
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-image: linear-gradient(90deg, #d7bf6f, #9e7a47, #d7b76f);
  border-image-slice: 1;
}

.telefone h1 {
  margin-top: 8px;
  font-family: "Montserrat";
  font-size: 14px;
  color: #fff;
  background: none;
}

.telefone .numero {
  display: flex;
  align-items: flex-start;
  width: 210px;
  margin-bottom: 8px;
  text-align: center;
  justify-content: center;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 21px;
  color: #fff;
}

/* CONTATO */

.contato-border-wrapper {
  position: relative;
  margin: 50px 0 0 50px;
  display: inline-block;
}

.contato-border-wrapper::after {
  content: "";
  position: absolute;
  width: 85%;
  height: 85%;
  border: 10px solid lightgrey;
  left: 80px;
  top: -30px;
  z-index: 1;
  animation-name: transition;
  animation-duration: 2s;
}

.contato {
  position: relative;
  background-color: #00253f;
  width: 495px;
  padding: 20px 40px 40px 40px;
  margin-bottom: 70px;
  z-index: 2;
}
.contato h1 {
  color: #bc9e5c;
  font-size: 40px;
  font-family: "Playfair Display";
  line-height: 1.1em;
  margin-bottom: 5px;
}

.contato h2 {
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat";
  margin-bottom: 5px;
}

.contato b {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat";
}

input[type="text"],
select {
  width: 48%; /* Full width */
  padding: 12px; /* Some padding */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
textarea {
  width: 100%; /* Full width */
  height: 150px;
  padding: 12px; /* Some padding */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type="tel"] {
  float: right;
  width: 48%; /* Full width */
  padding: 12px; /* Some padding */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type="email"] {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  width: 100%;
  background-color: #53626d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-image: linear-gradient(90deg, #9e7a47, #d7bf6f, #9e7a47);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* SEGUNDA SEÇÃO */
.segunda-secao {
  display: flex;
  justify-content: center;
  position: relative;
  height: 400px;
}

.segunda-texto {
  width: 50%;
  padding-left: 9%;
}

.segunda-texto h1 {
  color: #00253f;
  font-size: 33px;
  font-family: "Playfair Display";
  margin-bottom: 10px;
  margin-top: 40px;
}

.segunda-texto h2 {
  color: #00253f;
  font-size: 14px;
  font-weight: 900;
  font-family: "Montserrat";
  margin-bottom: 10px;
}

.segunda-texto p {
  color: #00253f;
  font-size: 14px;
  font-family: "Montserrat";
  margin-bottom: 25px;
}

.segunda-texto ul {
  margin-bottom: 25px;
}

.segunda-texto ul li {
  display: list-item;
  list-style-type: none;
  position: relative;
  color: #00253f;
  font-size: 14px;
  margin-left: 1rem;
  font-family: "Montserrat";
  margin-bottom: 5px;
}

.segunda-texto ul li span {
  font-size: 14px;
}

.segunda-texto ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #bc9e5c; /* Change the color */
  position: absolute;
  left: -0.8em; /* Adjust this value so that it appears where you want. */
  font-size: 1.1em;
}

/* Slideshow container */
.slideshow {
  display: flex;
  width: 50%;
}

.slideshow-container {
  display: flex;
  position: relative;
  margin: 50px;
}

/* Hide the images by default */
.mySlides1 {
  display: none;
  position: relative;
}
.mySlides1 img {
  object-fit: fill;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  background-color: rgba(0, 37, 61, 0.3);
  top: 50%;
  width: auto;
  margin-top: -37px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 14px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 37, 61, 0.6);
}

/* Caption text */
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text h1 {
  margin: auto;
  color: #fff;
  background-color: #00253f;
  font-family: "Playfair";
  font-size: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: absolute;
  bottom: 72px;
  width: 60%;
  text-align: center;
}

.text h2 {
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  bottom: 46px;
  width: 60%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  position: relative;
  height: 10px;
  width: 10px;
  bottom: 40px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-flex;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #00253f;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* TERCEIRA SEÇÃO */
.terceira-secao {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.slideshow2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.slideshow-container2 {
  position: relative;
  width: 100%;
}

.mySlides2 {
  display: none;
  position: relative;
  width: 100%;
  
}

.mySlides2 img {
  height: 700px;
  width: 100%;
  overflow: hidden;
    background-size: cover;
    background-position: center;
  object-fit: cover;
}

/* Next & previous buttons */
.prev2,
.next2 {
  cursor: pointer;
  position: absolute;
  background-color: rgba(0, 37, 61, 0.3);
  top: 50%;
  width: auto;
  margin-top: -40px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next2 {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover,
.next2:hover {
  background-color: rgba(0, 37, 61, 0.6);
}

.dot2 {
  cursor: pointer;
  position: relative;
  height: 15px;
  width: 15px;
  bottom: 40px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot2:hover {
  background-color: #00253f;
}

/* QUARTA SEÇÃO */
.quarta-secao {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 100%;
}

.wrapper-quarta {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.quarta-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quarta-texto h1 {
  font-family: "Montserrat";
  font-size: 18px;
  margin-top: 50px;
  color: #00253f;
}

.quarta-texto h2 {
  font-family: "Playfair";
  font-size: 40px;
  color: #00253f;
  margin-bottom: 50px;
}

.conteudo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.terrenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.terrenos .icone-per {
  position: relative;
  background-color: #00253f;
  width: 70px;
  height: 70px;
  z-index: 2;
}

.terrenos h1 {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

.terrenos h2 {
  width: 250px;
}

.grandes-terrenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation-delay: 1s;
}

.grandes-terrenos .icone-per {
  position: relative;
  background-color: #00253f;
  width: 70px;
  height: 70px;
  z-index: 2;
}

.grandes-terrenos h1 {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

.grandes-terrenos h2 {
  width: 250px;
}

.permutas {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Montserrat";
  animation-delay: 2s;
}

.conteudo-border-wrapper {
  position: relative;
  display: inline-block;
}

.conteudo-border-wrapper::after {
  border: 4px solid;
  border-image: linear-gradient(90deg, #9e7a47, #d7bf6f, #9e7a47);
  border-image-slice: 1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -15px;
  top: -15px;
  z-index: 1;
}

.permutas .icone-per {
  position: relative;
  background-color: #00253f;
  width: 70px;
  height: 70px;
  z-index: 2;
}

.permutas h1 {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

.permutas h2 {
  width: 250px;
}

.fade {
  margin: 50px;
  padding: 50px;
  opacity: 1;
}

/* QUARTA SEÇÃO */
.quinta-secao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 100%;
  background-color: #00253f;
}

.quinta-texto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
}
.quinta-texto h1{
  color:#fff;
  font-family: "Playfair Display";
  font-size: 35px;
  margin-right: 15px;
}
.quinta-texto h2{
  color:#bc9e5c;
  font-family: "Playfair Display";
  font-size: 35px;
}

.mapa {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 70px;
}

/* SEXTA SEÇÃO */
.sexta-secao {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 100%;
  background-image: url(bg-2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wrapper-sexta {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.sexta-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 9%;
}

.sexta-texto h1{
  color: #00253f;
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: bold;
  width: 70%;
  margin-bottom: 40px;
}

.sexta-texto p{
  color: #00253f;
  font-size: 14px;
  width: 65%;
  margin-bottom: 40px;
}

.sexta-botões {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sexta-botoes a{
  background-color: #00253f;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
}

.sexta-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.contato2 {
  position: relative;
  background-color: #00253f;
  width: 495px;
  padding: 20px 40px 40px 40px;
  margin-bottom: 70px;
  margin-top: 70px;
}

.sexta-form h1{
  text-align: center;
  color: #fff;
  font-family: "Playfair Display";
  font-size: 40px;
  padding: 30px;
}

/* RODAPÉ */
.rodape {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #00253f;
  color: white;
  text-align: center;
}
.rodape img {
  max-width: 150px;
  padding: 15px 0;
}
